<tr id="<%= inspeccion.id %>">
  <td><%= inspeccion.date %></td>
  <td><%= inspeccion.contractor.name %></td>
  <td><%= inspeccion.project.name %></td>
  <td><%= inspeccion.check_lists.map {|inspeccion| inspeccion.hazard_type}.join(", ") %></td>
  <% project = project.nil? ? inspeccion.project : project   %>
  <td><%= link_to (fa_icon "edit"), edit_project_inspeccion_path(project,inspeccion), class: "btn btn-secondary btn-sm shadow", title: "Editar Inspeccion", remote: true %></td>
  <td><%= link_to (fa_icon "trash"), [project,inspeccion], method: :delete, data: { confirm: "¿Estas seguro de eliminar esta Inspeccion"}, class: "btn btn-danger btn-sm shadow", title: "Eliminar " %></td>
</tr>
