<p id="notice"><%= notice %></p>
<h1 class="text-center mt-5 mb-2">Inspeccions</h1>
<table class="table table-index">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col"> Inspeccion date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspeccions.each do |inspeccion| %>
     <tr class="text-center">
        <td><%= inspeccion.date %></td>
        <td><%= link_to 'Show', project_inspeccions_path(@project,inspeccion) %></td>
        <td><%= link_to 'Edit', edit_project_inspeccion_path(@project,inspeccion) %></td>
        <td><%= link_to 'Destroy', [@project,inspeccion], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '<button type="button" class="btn btn-dark">New Inspeccion</button>'.html_safe, new_project_inspeccion_path %>
<%= link_to '<button type="button" class="btn btn-dark">New Check list</button>'.html_safe, new_check_list_path %>
<%= link_to '<button type="button" class="btn btn-dark">Back</button>'.html_safe, projects_path %>