<p id="notice"><%= notice %></p>

<h1>Inspeccions</h1>

<table>
  <thead>
    <tr>
      <th>Periodicity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspeccions.each do |inspeccion| %>
      <tr>
        <td><%= inspeccion.periodicity %></td>
        <td><%= link_to 'Show', inspeccion %></td>
        <td><%= link_to 'Edit', edit_inspeccion_path(inspeccion) %></td>
        <td><%= link_to 'Destroy', inspeccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspeccion', new_inspeccion_path %>
