<p id="notice"><%= notice %></p>

<h1 class="text-center mt-5 mb-2">Work Areas</h1>

<table class="table table-index">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Name</th>
       <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @work_areas.each do |work_area| %>
     <tr class="text-center">
        <td style="color:white"><%= work_area.name %></td>
        <td style="background-color:white"><%= link_to 'Show', work_area %></td>
        <td style="background-color:white" ><%= link_to 'Edit', edit_work_area_path(work_area) %></td>
        <td style="background-color:white"><%= link_to 'Destroy', work_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-dark"> New Work Area</button>'.html_safe,new_work_area_path %>
<%= link_to '<button type="button" class="btn btn-dark"> Check List</button>'.html_safe, check_lists_path %>