<!-- Start Footer -->
    <footer class="footer-box-home ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-xl-6 white_fonts ">
                    <div class="row ">
                        <div class="col-md-12 white_fonts margin-bottom_20 ">
                            <h3>Contactanos</h3>
                        </div>
                        <div class="col-md-12 " style="display: inline-flex ">
                            <div class="full-home icon-home ">
                                 <img src="<%=asset_path('social1.png') %>" alt="...">
                            </div>
                            <div class="full-home white_fonts ">
                                <p>Tibas, San Jose, Costa Rica</p>
                            </div>
                        </div>
                        <div class="col-md-12 " style="display: inline-flex ">
                            <div class="full-home icon-home ">
                                <img src="<%=asset_path('social2.png') %>" alt="...">
                            </div>
                            <div class="full-home white_fonts ">
                                <p>safetysolutioncr@gmail.com , infosscr@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-12 " style="display: inline-flex ">
                            <div class="full-home icon-home ">
                                <img src="<%=asset_path('social3.png') %>" alt="...">
                            </div>
                            <div class="full-home white_fonts ">
                                <p>+50672037464 >+50672037464</p>
                            </div>
                        </div>
                        <div class="col-md-12 ">

                        </div>
                    </div>
                </div>

                <div class="col-xl-6 white_fonts ">
                    <div class="row ">
                        <div class="col-md-3 ">
                            <div class="footer_blog-home footer_menu-home ">
                                <h3>Menus</h3>
                                <ul>
                                    <li><a href="index.html ">Inicio</a></li>
                                    <li><a href="about.html ">Quienes Somos</a></li>
                                    <li><a href="services.html ">Servicios</a></li>
                                    <li><a href="app.html">App Safety CR</a></li>
                                    <li><a href="contact.html ">Contactanos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 ">
                            <div class="footer_blog-home full-home ">
                                <h3 style= display:inline>Suscribete a nuestros servicios</h3>
                                <div class="newsletter_form-home ">
                                    <form action="index.html ">
                                        <input type="email " placeholder="Your Email " name="# " required/>
                                        <button>Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom-home ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <p class="crp-home ">© 2021 safetysolutioncr, Todos los derechos reservados.</p>
                    <ul class="bottom_menu-home ">
                        <li><a href="# "><i class="fa fa-facebook-f "></i></a></li>
                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                        <li><a href="# "><i class="fa fa-google-plus "></i></a></li>
                        <li><a href="# ">Terminos de servicio</a></li>
                        <li><a href="# ">Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="redes-sociales-home ">
        <ul class="list-group-home text-center text-white ">
            <li class="list-group-item-home ">
                <a data-toggle="tooltip " data-placement="left " title=" " href="# " target="_blank " class="text-white " data-original-title="Siguenos a nuestra comunidad de Facebook ">
                     <img src="<%=asset_path('facebook.png') %>" class="" width="35 " alt="#">
            </li>
            <li class="list-group-item-home ">

                 <img src="<%=asset_path('icons8-twitter-48.png') %>" class="" width="35 "  alt="#">
            </li>
            <li class="list-group-item-home ">
                  <img src="<%=asset_path('icons8-instagram-48.png') %>" class="" width="35 "  alt="#">
            </li>
            <li class="list-group-item-home ">
                <img src="<%=asset_path('icons8-youtube-play-48.png') %>" class="" width="35 "  alt="#">
            </li>
            <li class="list-group-item-home ">
                <a target="_blank " href="https://api.whatsapp.com/send?phone=+50672037464&amp;text=Estoy interesado en tomar tu solicitud de servicios de salud ocupacional "><img src="<%=asset_path('icons8-whatsapp-48.png') %>" class="" width="35 "  alt="#">
            </li>

        </ul>
    </div>