<div class="relative bg-white ">
  <nav class="navbar_menu_home">
    <%= link_to root_path do %>
        <span class="sr-only">Workflow</span>
        <%= image_tag "safety_sol.png", alt: "logo", class: "logo h-8 w-auto sm:h-10" %>
    <% end %>

  

    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar_menu_items">
             
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">INICIO</a>
                  <ul class="navbar-nav">
                      <li id="inicio"><%#=link_to "Inicio", index_path, :class => "inicionav"%></li> 
                  </ul>
               

              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">QUIENES SOMOS</a>
                    <ul class="navbar-nav"> 
                      <li id="about"><%#=link_to "About", abouts_path, :class => "aboutnav"%></li> 
                    </ul>
                    
               
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">NUESTROS SERVICIOS</a>
                    <div class="dropdown-menu">
                       <ul class="navbar-nav"> 
                        <li id="services"><%#=link_to "Services", services_path, :class => "servicesnav"%></li> 
                        </ul>
                      </div>    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">APP SAFETY SOLUTIONS CR</a>
                <div class="dropdown-menu">
                    <%= link_to 'Projects', projects_path, class: "dropdown-item" %>
                    <%= link_to 'Contractors', contractors_path, class: "dropdown-item" %>
                    <%= link_to 'Inspeccions', inspeccions_path, class: "dropdown-item" %>
                    <%= link_to 'Check list', check_lists_path, class: "dropdown-item" %>
                </div>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">CONTACTO</a>
              <ul class="navbar-nav"> 
                <li id="contact"><%#=link_to "Contact", contacts_path, :class => "contactnav"%></li>
               </ul>
              </div>
            </li>
            <li class="center">
                <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, method: "delete"  %>

                <% else %>
                    <%= link_to 'Login', new_user_session_path, class: "a" %>
                <% end %>

                <% if current_user %>
                    <%= link_to(edit_user_registration_path) do %>
                    <% if current_user.profile_picture.attached?  %>
                        <%= image_tag(current_user.profile_picture, class: 'avatar-img') %>
                     <% end %>
                    <% end %>
                <% end %> 
            </li>
            
        </ul>
      <span class="btn_menu">
          <i class="fa fa-bars"></i>
      </span>
  </nav>
      
    
</div>
 