<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to(root_path) do %>
        <i class="fas fa-hard-hat fa-5x"></i>
    <% end %>

  

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item login mr-3">
                <%= link_to '<button type="button" class="btn btn-dark">New contractor</button>'.html_safe, contractors_path %>
                <%= link_to '<button type="button" class="btn btn-dark">New Project</button>'.html_safe, projects_path %>
            </li>
            <li class="nav-item login mr-3">
                <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
                <% else %>
                    <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
                <% end %>
            </li>
            <li class="nav-item">
                <% if current_user %>
                    <%= link_to(edit_user_registration_path) do %>
                    <% if current_user.profile_picture.attached?  %>
                        <%= image_tag(current_user.profile_picture, class: 'avatar-img') %>
                     <% end %>
                    <% end %>
              <% end %>
            </li>
        </ul>
    </div>
</nav>