
<div class="relative bg-white ">
  <nav class="navbar_menu">
    <%= link_to root_path do %>
        <span class="sr-only">Workflow</span>
        <%= image_tag "safety_sol.png", id:'logot', alt: "logo", class: "logo h-8 w-auto sm:h-10" %>
    <% end %>

  

    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar_menu_items">
            <li class="nav-item"><%=link_to "START", root_path, :class => "inicionav"%><a href="#inicio"></a></li>
            <li class="nav-item"><a href="#Carlos">Carlillos</a></li>
            <li class="nav-item"><a href="#car2">About</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Menu</a>
                <div class="dropdown-menu">
                    <%= link_to 'Projects', projects_path, class: "dropdown-item" %>
                    <%= link_to 'Contractors', contractors_path, class: "dropdown-item" %>
                    <%= link_to 'Inspeccions', inspeccions_path, class: "dropdown-item" %>
                    <%= link_to 'Check list', check_lists_path, class: "dropdown-item" %>
                </div>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Go to</a>
              <div class="dropdown-menu">
                <%= link_to "Go to new Projects", new_project_path, class: "dropdown-item" %>
                <%= link_to "Go to new contractors", new_contractor_path, class: "dropdown-item" %>
                 <%= link_to "Go to new check", todo_lists_path, class: "dropdown-item" %>
            
                <%#= link_to "ir a Inspeccions", new_project_inspeccion_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="center">
                <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, method: "delete"  %>

                <% else %>
                    <%= link_to 'Login', new_user_session_path, class: "a" %>
                <% end %>

                <% if current_user %>
                    <%= link_to(edit_user_registration_path) do %>
                    <% if current_user.profile_picture.attached?  %>
                        <%= image_tag(current_user.profile_picture, class: 'avatar-img') %>
                     <% end %>
                    <% end %>
                <% end %> 
            </li>
            
        </ul>
      <span class="btn_menu">
          <i class="fa fa-bars"></i>
      </span>
  </nav>
      
    
</div>