    <!DOCTYPE html>
     <html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Safety Solutions</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
   
</head>
     
     <%= render 'shared/home_side/carousel' %> 

     <a class="typeform-share button" href="https://form.typeform.com/to/BWYq2YHv?typeform-medium=embed-snippet" data-mode="popover" style="width:54px;height:54px;position:fixed;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);right:26px;bottom:26px;border-radius:50%;display:flex;align-items:center;justify-content:center;cursor:pointer;background:#5C870B;overflow:hidden;line-height:0;" data-hide-headers="true" data-hide-footer="true" target="_blank"> <span class="icon"> <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' style="margin-top:6px;"> <path d='M21 0H0V9L10.5743 24V16.5H21C22.6567 16.5 24 15.1567 24 13.5V3C24 1.34325 22.6567 0 21 0ZM7.5 9.75C6.672 9.75 6 9.07875 6 8.25C6 7.42125 6.672 6.75 7.5 6.75C8.328 6.75 9 7.42125 9 8.25C9 9.07875 8.328 9.75 7.5 9.75ZM12.75 9.75C11.922 9.75 11.25 9.07875 11.25 8.25C11.25 7.42125 11.922 6.75 12.75 6.75C13.578 6.75 14.25 7.42125 14.25 8.25C14.25 9.07875 13.578 9.75 12.75 9.75ZM18 9.75C17.172 9.75 16.5 9.07875 16.5 8.25C16.5 7.42125 17.172 6.75 18 6.75C18.828 6.75 19.5 7.42125 19.5 8.25C19.5 9.07875 18.828 9.75 18 9.75Z' fill='white' /> </svg> </span> </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

    <div class="modal-content"  style="background-image: url('https://images.pexels.com/photos/38070/pexels-photo-38070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">

     </div>
     
      
    
     <!-- section -->
    <div class="section-home layout_padding-home" style="background-color:white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-13">
                    <div class="full-home">
                        <div class="heading_main-home text_align_left-home">
                            <div class="left">
                                <p class="section_count-home">01</p>
                            </div>
                            <div class="right">
                                <p class="small_tag-home">Quienes Somos</p>
                                <h2 class="container-inline text-justify"><span class="theme_color-home container text-justify">Podemos </span>ayudar a que su negocio crezca con ambientes sanos y seguros para sus clientes y colaoradores</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
      <!-- section -->
    <div class="section dark_bg-home">
        <div class="container-inline">
            <div class="row">
                <div class="col-lg-6 col-md-12 text_align_center-home padding_0-home">
                    <div class="full-home">
                         <img class="img-responsive-home " src="<%=asset_path('img-2png.png') %> " alt="...">
                    </div>
                

                <div class="col-lg-13 col-md-12 white_fonts layout_padding-home padding_left_right-home ">
                    <h3 class="small_heading-home container text-justify">TODO LO QUE NECESITA<br> EN UNA SOLUCIÓN</h3>
                    <p class="container text-justify">SAFETY SOLUTIONS, consultora Costarricense especializada en la gestión de riesgos, dedicada a brindar “Soluciones Integrales y Personalizadas”, ofrece profesionales de alto nivel con experiencia en construcción, industria, servicios
                        y oficinas
                    </p>
                    <br/>
                    <p class="container text-justify">El objetivo principal es contribuir a mejorar el nivel de salud,seguridad y ambiente, en las empresas e instituciones mediante la capacitación, entrenamiento, consultoría y difusión de las mejores prácticas disponibles SySO, las mismas
                        que permitirán preservar la vida y salud de los colaboradores.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
      <!-- section -->
    <div class=" section layout_padding-home " style="background-color:white">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="full-home ">
                        <div class="heading_main-home text_align_left-home ">
                            <div class="left ">
                                <p class="section_count-home ">02</p>
                            </div>
                            <div class="right ">
                                <p class="small_tag-home ">Nuestros servicios</p>
                                <h2><span class="theme_color-home ">Tenemos </span> todos estos servicios a su disposicion </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               <div class="row margin-top_30 ">

                    <div class="col-sm-6 col-md-4 ">
                         <div class="service_blog-home ">
                              <div class="service_icons-home ">
                                   <img src="<%=asset_path('icon-1.png') %>" class="" width="75 " height="75 " alt="#">
                              </div>
                              <div class="full-home ">
                                   <h4>Entrenamiento y Capacitacion</h4>
                              </div>
                              <div class="full-home ">
                                   <ul class="container text-justify">
                                        <li>

                                             <p style="color:rgb(0, 7, 7);"><strong>👉 Capacitacion de atencion de emergencias

                                             </strong></p>

                                        </li>
                                        <li>
                                             <p><strong>👉 Cursos de prevencion de covid-19
                                             </strong>
                                                  <p>
                                        </li>
                                        <li>
                                             <p><strong>👉 Cursos de Trabajos de Alto Riesgo
                                             </strong>
                                                  <p>
                                        </li>
                                        <li>
                                             <p><strong>👉 Capacitacion de comisiones de salud ocupacional
                                             </strong>
                                                  <p>
                                        </li>
                                   </ul>

                              </div>
                         </div>
                    </div>
                     <div class="col-sm-6 col-md-4 ">
                    <div class="service_blog-home ">
                        <div class="service_icons-home ">
                             <img src="<%=asset_path('icon-2.png') %>" class="" width="75 " height="75 " alt="#">
                        </div>
                        <div class="full-home ">
                            <h4>Consultoria en Salud ocupacional</h4>
                        </div>
                        <div class="ful-home ">
                            <ul class="container text-justify">
                                <li>
                                    <p >👉 Implementación de Sistemas de Gestión Integrados en Salud, seguridad ocupacional y Medio Ambiente
                                        <p>
                                </li>
                                <li>
                                    <p>👉 Auditorías Internas de Calidad, Salud, seguridad ocupacional y Medio Ambiente
                                        <p>
                                </li>
                                <li>
                                    <p>👉Elaboracion de Planes salud ocupacional y emergencias
                                        <p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="service_blog-home ">
                        <div class="service_icons-home ">
                            <img src="<%=asset_path('icon-3.png') %>" class="" width="75 " height="75 " alt="#">
                        </div>
                        <div class="full-home ">
                            <h4>identificacion de riesgos laborales</h4>
                        </div>
                        <div class="full-home ">
                            <ul class="container text-justify">
                                <li>
                                    <p>👉 identificacion de riesgos Fisicos
                                        <p>
                                </li>
                                <li>
                                    <p>👉 identificacion de riesgos Quimicos
                                        <p>
                                </li>
                                <li>
                                    <p>👉 identificacion de riesgos Biológicos
                                        <p>
                                </li>
                                <li>
                                    <p>👉 identificacion de riesgos Ergónomicos
                                        <p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
      <!-- section -->
    <div class="section layout_padding-home "style="background-color:white">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="full-home ">
                        <div class="heading_main-home text_align_left-home ">
                            <div class="left ">
                                <p class="section_count-home ">03</p>
                            </div>
                            <div class="right ">
                                <p class="small_tag-home ">Portafolio de trabajos</p>
                                <h2><span class="theme_color-home ">Observa</span> nuestros proyectos </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top_20 ">
                <div class="col-lg-12 margin-top_20 ">
        <div class="line border-info border-top pt-2 pb3"></div>
        <div class="row my-4">
            <div class="col-sm d-flex">
                <div class="card-deck">

                         <div class="card text-left bg-dark">
                              <img src="<%=asset_path('img3.png') %>" class="img-responsive-home " alt="#">
                              <div class="card-body font-weight-light ">
                                   <h5 class="card-title display-5">Lorem, ipsum dolor.</h5>
                                   <p class="card-text card-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt a culpa doloremque voluptatem dicta nam. Maxime ipsum, consequatur quos error fuga excepturi quo. Laudantium optio pariatur laboriosam modi, ea molestias?</p>
                              </div>
                         </div>
                              <div class="card text-left bg-dark">
                                    <img src="<%=asset_path('img3.png') %>" class="img-responsive-home " alt="#">
                                   <div class="card-body">
                                        <h5 class="card-title bg-display-5">Lorem, ipsum dolor.</h5>
                                        <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt a culpa doloremque voluptatem dicta nam. Maxime ipsum, consequatur quos error fuga excepturi quo. Laudantium optio pariatur laboriosam modi, ea molestias?</p>

                                   </div>
                              </div>
                              <div class="card text-left font-weight-light bg-dark">
                                    <img src="<%=asset_path('img2.png') %>" class="img-responsive-home " alt="#">
                                   <div class="card-body ">
                                        <h5 class="card-title bg-display-5">Lorem, ipsum dolor.</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt a culpa doloremque voluptatem dicta nam. Maxime ipsum, consequatur quos error fuga excepturi quo. Laudantium optio pariatur laboriosam modi, ea molestias?</p>

                                   </div>
                              </div>
                              <div class="card text-left font-weight-light bg-dark">
                                   <img src="<%=asset_path('img1.png') %>" class="img-responsive-home " alt="#">
                                   <div class="card-body ">
                                        <h5 class="card-title bg-display-5">Lorem, ipsum dolor.</h5>
                                        <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt a culpa doloremque voluptatem dicta nam. Maxime ipsum, consequatur quos error fuga excepturi quo. Laudantium optio pariatur laboriosam modi, ea molestias?</p>

                                    </div>
                              </div>
                         </div>
                    </div>
            </div>

        </div>

        
   

                        
                              
               

                <div class="col-lg-12 ">
                    <p class="container text-justify">Dentro de los proyectos </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
     <!-- section -->
    <div class="section layout_padding-home "style="background-color:white">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="full-home ">
                        <div class="heading_main-home text_align_left-home ">
                            <div class="left ">
                                <p class="section_count-home ">04</p>
                            </div>
                            <div class="right ">
                                <p class="small_tag-home ">Nuestro equipo</p>
                                <h2><span class="theme_color-home ">Contamos con un equipo de profesionales</span> calificados
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30 ">
                <div class="col-lg-12 margin-top_30 ">
                    <div id="team_slider-home2 " class="carousel-home2 slide-home2 " data-ride="carousel ">

                        <!-- The slideshow -->
                        <div class="carousel-inner-home ">
                            <div class="carousel-item-home2 active-home2 ">
                                <div class="row ">

                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                        <div class="full-home ">
                                            <div class="full-home team_member_img-home text_align_center-home ">
                                                <img src="<%=asset_path('eulalia.png') %>"  alt="#">
                                                <div class="social_icon_team-home ">
                                                    <ul class="social_icon-home ">
                                                        <li><a href="# "><i class="fa fa-facebook-f "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-google-plus "></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="full-home text_align_center-home ">
                                                <h3>Ing.Eulalia Zapata Ledezma</h3>
                                            </div>
                                            <div class="container text-justify">
                                                <p>Ingeniera en salud ocupacional con mas de 18 años de experiencia en construccion,oficinas e industria </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                        <div class="full-home ">
                                            <div class="full-home team_member_img-home text_align_center-home ">
                                                 <img src="<%=asset_path('miguel.png') %>"  alt="#">
                                                <div class="social_icon_team-home ">
                                                    <ul class="social_icon-home ">
                                                        <li><a href="# "><i class="fa fa-facebook-f "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-google-plus "></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="full-home text_align_center-home ">
                                                <h3>Ing.Miguel Zapata Ledezma</h3>
                                            </div>
                                            <div class="container text-justify">
                                                <p>Ingeniero con enfasis en produccion industrial, con mas de 15 años de experiencia en salud ocupacional </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                                        <div class="full-home ">
                                            <div class="full-home team_member_img-home text_align_center-home ">
                                              <img src="<%=asset_path('randal.jpg') %>"  alt="#">
                                                <div class="social_icon_team-home ">
                                                    <ul class="social_icon-home ">
                                                        <li><a href="# "><i class="fa fa-facebook-f "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href="# "><i class="fa fa-google-plus "></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="full-home text_align_center-home ">
                                                <h3>Ing.Randall Rodriguez Castro</h3>
                                            </div>
                                            <div class="container text-justify">
                                                <p>Ingeniero electromecanico, con mas de 15 años de experiencia en sistemas de seguridad </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            <div class="bullets ">
                                <!-- Indicators -->
                                <ul class="carousel-indicators-home2 ">
                                    <li data-target="#team_slider-home2 " data-slide-to="0 " class="active-home2 "></li>
                                    <li data-target="#team_slider-home2 " data-slide-to="1 "></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script async data-id="78734" src="https://cdn.widgetwhats.com/script.min.js"></script>
    
</body>

</html>
    
