<p id="notice"><%= notice %></p>

<h1 class="text-center mt-5 mb-2">Check List Items</h1>

<table class="table table-index">
   <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Value</th>
      <th scope="col">Text</th>
      <<th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @check_list_items.each do |check_list_item| %>
      <tr>
        <td style="color:white"><%= check_list_item.value %></td>
        <td style="color:white"><%= check_list_item.text %></td>
        <td style="background-color:white"><%= link_to 'Show', check_list_item %></td>
        <td style="background-color:white"><%= link_to 'Edit', edit_check_list_item_path(check_list_item) %></td>
        <td style="background-color:white"><%= link_to 'Destroy', check_list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-dark">New Check List item</button>'.html_safe, new_check_list_item_path %>
<%= link_to '<button type="button" class="btn btn-dark">New Check List</button>'.html_safe, new_check_list_path %>