<%= form_with(model: check_list) do |form| %>
  <% if check_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_list.errors.count, "error") %> prohibited this check_list from being saved:</h2>

      <ul>
        <% check_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="color:white">
    <%= form.label :version %>
    <%= form.number_field :document_version %>
  </div>

  <div class="field" style="color:white">
    <%= form.label :hazard_type %>
    <%= form.text_field :hazard_type %>
  </div>

  <div class="field" style="color:white">
    <%= form.label :inspeccion %>
    <%= form.select :inspeccion_id, options_from_collection_for_select(@inspeccion, :id, :date)%>
  </div>

   <h2>Check list Items</h2>

  <%= f.fields_for :check_list_items do | item | %>
    <div class="check_list_item_fields">
      <div class="fields">
        <%= item.label :hazard_type, "Tipos de peligro" %><br>
        <%= item.text_field :hazard_type %>
         <%= item.check_box :_destroy %>
        <%= item.label :_destroy, "Borrar" %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
