<p id="notice"><%= notice %></p>

<h1>Check Lists</h1>

<table>
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Date</th>
      <th scope="col">Hazard type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_lists.each do |check_list| %>
      <tr>
        <td><%= check_list.date %></td>
        <td><%= check_list.hazard_type %></td>
        <td><%= link_to 'Show', check_list %></td>
        <td><%= link_to 'Edit', edit_check_list_path(check_list) %></td>
        <td><%= link_to 'Destroy', check_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-dark">New Check List</button>'.html_safe, new_check_list_path %>
<%= link_to '<button type="button" class="btn btn-dark">Check List Item </button>'.html_safe, check_list_items_path %>
