<p id="notice"><%= notice %></p>

<p style="color:white">
  <strong>document version:</strong>
  <%= @check_list.document_version %>
</p>

<p style="color:white">
  <strong>Hazard type:</strong>
  <%= @check_list.hazard_type %>
</p>

<%= link_to 'Edit', edit_check_list_path(@check_list) %> |
<%= link_to 'Back', check_lists_path %>
