<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div >
<h5 style="background-color:white">Puts Projects info:</h5>
</div>

  <div class="field" style="color:white">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name  %>
  </div>

<div class="field" style="color:white">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
</div>
<div class="field" style="color:white">
    <%= form.label :finish_date %>
    <%= form.date_select :finish_date %>
</div>
<div class="field" style="color:white">
   <%= label_tag 'periodicity_once','test1' %>
  <%= check_box_tag 'project[periodicity][]','test1', checked(project, 'test1'), id: 'periodicity_once' %>
  <%= label_tag 'periodicity_biw','test2' %>
  <%= check_box_tag 'project[periodicity][]','test2', checked(project, 'test2'), id: 'periodicity_biw' %>
</div>
<div class="actions">
  <%= form.submit value="Project Create" %>
</div>
<% end %>