<p id="notice"><%= notice %></p>

<h1 class="text-center mt-5 mb-2">Projects</h1>
   

<table class="table table-index">
  <thead class="thead-dark">
    <tr class="text-center">
     <th scope="col">Name</th>
      <th scope="col">Start date</th>
      <th scope="col">Finish date</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="text-center">
        <td style="color:white"><%= project.name %></td>
        <td style="color:white"><%= project.start_date %></td>
        <td style="color:white"><%= project.finish_date %></td>
        <td style="background-color:white"><%= link_to 'Show', project %></td>
        <td style="background-color:white "><%= link_to 'Edit', edit_project_path(project) %></td>
        <td style="background-color:blue"><%= link_to "Inspeccion ", project_inspeccions_path(project.id) %></td>
        <td style="background-color:white"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '<button type="button" class="btn btn-dark">New Project</button>'.html_safe, new_project_path %>
