<p id="notice"><%= notice %></p>

<h1>Contractors</h1>

<table class= "contractors">
 <thead class="thead-dark">
    <tr class="text-center">
     <th scope="col">Name</th>
      <th scope="col">Contractor type</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contractors.each do |contractor| %>
       <tr class="text-center">
        <td style="color:white"><%= contractor.name %></td>
        <td style="color:white"><%= contractor.contractor_types.map {|c| c.name}.join(", ") %></td>
        <td style="background-color:white"><%= contractor.inspeccions.map {|contractor| contractor.date}.join(", ") %></td>
        <td style="background-color:white"><%= link_to 'Show', contractor %></td>
        <td style="background-color:white"><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
        <td style="background-color:white"><%= link_to 'Destroy', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container pt-3">
  <div class="card shadow bg-light">

    <div class="d-flex p-2">
      <%= fa_icon "question", class: "btn btn-info btn-sm shadow", title: "Aqui encontraras toda la informacion al respecto de los contratistas su nombre, y tipo, tambien puedes eliminar, editar y agregar un nuevo contratista" %>

    </div>

    <div class="card-body">

      <div class="card-title d-flex justify-content-between align-items-center">
       <h1>Contractors</h1>
            <%= link_to (fa_icon "plus-square"), new_contractor_path, class: "btn btn-success btn-sm shadow", title: "Add contractor", remote: true %>
      </div>

      <div class="table-responsive shadow text-center">
        <table class="table table-hover table-sm small">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Contractor Type</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
              <% @contractors.each do |contractor| %>
              <%= render "row", contractor: contractor %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<%= link_to '<button type="button" class="btn btn-dark">New contractor</button>'.html_safe, new_contractor_path %>
<%= link_to '<button type="button" class="btn btn-dark">Contractor types List</button>'.html_safe, contractor_types_path %>
<%= link_to '<button type="button" class="btn btn-dark">Checklist </button>'.html_safe, check_lists_path %>
<%#= link_to '<button type="button" class="btn btn-dark">Inspeccion type </button>'.html_safe, project_inspeccions_path %>