<%= form_with(model: contractor_type) do |form| %>
  <% if contractor_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor_type.errors.count, "error") %> prohibited this contractor_type from being saved:</h2>

      <ul>
        <% contractor_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contractor %>
    <%= form.select :contractor_id, options_from_collection_for_select(@contractor, :id, :name)%>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
